:root {
    --background-color: #faf9f8;
    --blur-background-color: rgba(241, 240, 239, 0.731);
    --primary-color: a4262c;
    --text-color: #333;
    
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    color: #a4262c;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blur-background-color); 
    -webkit-backdrop-filter: blur(5px) saturate(100%);
    -moz-backdrop-filter: blur(5px) saturate(100%);
    backdrop-filter: blur(5px) saturate(100%);
    line-height: 1.5em;
    height: 40px;
}


footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 2px;
    color: #999;
    font-size: 12px;

    background-color: var(--blur-background-color);
    -webkit-backdrop-filter: blur(5px) saturate(100%);
    -moz-backdrop-filter: blur(5px) saturate(100%);
    backdrop-filter: blur(5px) saturate(100%);
    line-height: 1.5em;
    height: 40px;
    text-align: center;
    left: 0;
    right: 0;
}

button {
    background-color: #9D2933; /* 胭脂红，按钮背景 */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --text-color: #faf9f8;
        --blur-background-color: rgb(34, 20, 13, 0.531);
    }
    a {
        color: #faf9f8;
    }
}